.searchboxWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.searchbox {
  width: 400px;
  padding: 10px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}

.searchbox:focus {
  border-color: blue;
}
